#gilroy-gardens {
    background-image: url("../img/hero/gilroy-heartlands-small.jpg");
    background-position:top;
    @include breakpoint ($large) {
	   background-image: url("../img/hero/gilroy-heartlands-1.jpg");
    }
	background-repeat: no-repeat;
    background-position: 0;
    @include background-size(cover);
    // width: 100%;
    height: 100vh;
}

// #footer-hero-small {
//     @include full;
//     background-image: url("../img/hero/small-diameter-training-9-small.jpg");
//     @include breakpoint($large) {
// 	   background-image: url("../img/hero/small-diameter-training-9.jpg");
//     }
// 	background-repeat: no-repeat;
//     background-position: 0;
//     @include background-size(cover);
//     width: 100%;
//     height: 75vh;
// }
