
#gilroy-gardens {
    background-image: url("../img/hero/gilory/gilroy-heartlands-small.jpg");
    background-position:top;
    @include breakpoint ($large) {
       background-image: url("../img/hero/gilory/Gilroy Heartlands-123.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0;
    @include background-size(cover);
    width: 100%;
    height: 100vh;
}
#moss-land {
    background-image: url("../img/hero/Moss Landing Power Plant-177-small.jpg");
    background-position:top;
    @include breakpoint ($large) {
       background-image: url("../img/hero/moss/Moss Landing Power Plant-37.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0;
    @include background-size(cover);
    width: 100%;
    height: 100vh;
}
#armona-well {
    background-image: url("../img/hero/armona/Hanford Well Arsenic Removal-92-sm.jpg");
    background-position:top;
    @include breakpoint ($large) {
       background-image: url("../img/hero/armona/Hanford Well Arsenic Removal-92.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0;
    @include background-size(cover);
    width: 100%;
    height: 100vh;
}
#landels-school{
    background-image: url("../img/hero/landels/Landels School-428-sm.jpg");
    background-position:top;
    @include breakpoint ($large) {
       background-image: url("../img/hero/landels/Landels School-428.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0;
    @include background-size(cover);
    width: 100%;
    height: 100vh;
}
#cv-drought-relief{
    background-image: url("../img/hero/cv-drought-relief/Landels School-428-sm.jpg");
    background-position:top;
    @include breakpoint ($large) {
       background-image: url("../img/hero/drought-relief/Nicholas Construction-47.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0;
    @include background-size(cover);
    width: 100%;
    height: 100vh;
}